@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*::before, 
*::after {
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    color: #000;
}

section {
    min-height: 100vh;
}

a {
    color: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar li {
    display: inline-flex;
    padding: 0 25px;
}

.navbar a {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home h1 {
    font-size: 3.5rem;
    font-weight: 450;
    letter-spacing: 35px;
}

#about h1 {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 90px;
}

#about, 
#contact {
    background-color: #fff;
}

#projects {
    display: flex;
    justify-content: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}