@import url('import/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*::before, 
*::after {
    box-sizing: border-box;
}

body {
    background: var(--backgrd-1);
    color: #000;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    min-height: 100vh;
}

a {
    color: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: var(--backgrd-2);
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar li {
    display: inline-flex;
    padding: 0 25px;
}

.navbar a {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home h1 {
    font-size: 3.5rem;
    font-weight: 450;
    letter-spacing: 35px;
}

.main-header {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    letter-spacing: 10px;
    text-align: center;
    padding: 90px 0 50px 0;
}

#about, 
#contact {
    background-color: var(--backgrd-2);
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 90px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.vids {
    margin: 20px 40px;
    padding: 10px;
    /* border: 1px solid rgba(204, 204, 204, 0.514); */
    box-shadow: 0px 28px 50px rgba(2, 10, 24, 0.16)/* ,
    0px -23px 45px rgba(255, 255, 255, 1) */;
    border-radius: 20px;
    transition: all 0.3s ease-in;
}

.vids:hover {
    transform: scale(1.05);
}

.contact-forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    display: flex;
    flex-direction: column;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.btn {
    color: #fff;
    background: #000;
    border-radius: 5px;
}